#contact_form_container {
    background-color: var(--secundary-background-color);
    padding         : 25px;
    width           : 100%;
}
  
#contact_form {
    display     : flex;
    flex-wrap   : wrap; /* Permite que los elementos se ajusten en varias líneas */
}