.hero {
  background: linear-gradient(
    rgba(0,0,0,0.6), 
    rgba(0,0,0,0.1)
  ), url('./../../assets/images/heroSection/hero.jpg');
  background-size     : cover;
  background-position : center;
  color               : var(--primary-background-color);
  padding             : 100px 0;
  text-align          : center;
}