:root {
  --navbar-color: rgb(250, 235, 214);
}

.navbar {
  background-color: var(--navbar-color);
}

.navbar-title {
  font-family : var(--global-font);
  font-size   : 1.5rem;
  color       : var(--secondary-color);
}

#navbarNav .nav-link {
  font-family : var(--global-font);
  color       : var(--icons-color);
}

#navbarNav .nav-link:hover {
  color: var(--accent-color);
}

@media (max-width: 576px) {
  .navbar-title {
    font-size   : 1rem !important; /* Tamaño reducido para móviles */
    margin-right: auto;
    margin-left : auto;
  }
}