.carousel-item{
    width: 100%;
    max-height: 500px;
}
  
.carousel-item img {
    width: 100%;       /* Ocupa el 100% del ancho disponible */
    height: auto;      /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Asegura que toda la imagen sea visible sin recortar */
    max-height: 500px; /* Limita la altura máxima */
}