@import url('./base/button.css');
@import url('./base/title.css');
@import url('./base/subtitle.css');

@import url('./components/navbar.css');
@import url('./components/hero.css');
@import url('./components/aboutUs.css');
@import url('./components/features.css');
@import url('./components/shipping.css');
@import url('./components/payMethods.css');
@import url('./components/contactForm.css');
@import url('./components/footer.css');

@import url('./components/products/products.css');

:root {
  --global-font: 'Borel';
  --primary-background-color: #ffffff;
  --secundary-background-color: rgb(248, 246, 233);
  --secondary-color: rgb(188, 4, 5); /* titles and navbar */
  --accent-color: #ed9b40;
  --icons-color: #000;
}

body {
  font-family: var(--global-font);
}