.subtitle{
    font-family: var(--global-font);
}

.subtitle:after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: var(--accent-color);
    margin: 15px auto 0;
}